# deps
node_modules/
web_modules/

# editors
*.sublime-*
.idea/

# distribution folder
public/dist/**
!dist/.gitkeep
!dist/images/
!dist/images/*

# OS generated stuff
.DS_Store
.DS_Store?

npm-debug.log
